parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Robo\\Collection\\CollectionBuilder\:\:setAssetNamePrefix\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: ../RoboFile.php

		-
			message: '#^Call to an undefined method Robo\\Collection\\CollectionBuilder\|Sweetchuck\\Robo\\Git\\Task\\GitListStagedFilesTask\:\:setPaths\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: ../RoboFile.php

		-
			message: '#^Call to an undefined method Robo\\Collection\\CollectionBuilder\|Sweetchuck\\Robo\\Git\\Task\\GitReadStagedFilesTask\:\:setCommandOnly\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: ../RoboFile.php

		-
			message: '#^Call to an undefined method Robo\\Collection\\CollectionBuilder\|Sweetchuck\\Robo\\Phpstan\\Task\\AnalyzeTask\:\:setNoProgress\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: ../RoboFile.php

		-
			message: '#^Call to an undefined method Sweetchuck\\Robo\\Git\\Task\\GitReadStagedFilesTask\:\:deferTaskConfiguration\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: ../RoboFile.php
